{% extends 'base.html.twig' %}

{% block title %}Hello ShowPersonneController!{% endblock %}


{% block body %}
<div class="body_all">

	<h1>Formulaire pour ajouter une Personne</h1>

	<div class="mb-3">

	{{ form_start(PersonneType, {'attr': {'id': 'form_contact', 'onsubmit': 'sendForm(event);'}}) }}

	<div class="input-group input-group-sm mb-3">
		<div class="input-group-prepend">
		  <span class="input-group-text" id="inputGroup-sizing-sm">Votre Prénom</span>
		</div>
		{{ form_widget(PersonneType.prenom,{ 'attr': {'class' : 'form-control', 
														'aria-label':'Small',
														'aria-describedby' :'inputGroup-sizing-sm'} })}}
	</div>

	<div class="input-group input-group-sm mb-3">
		<div class="input-group-prepend">
		  <span class="input-group-text" id="inputGroup-sizing-sm">Votre Nom</span>
		</div>
		{{ form_widget(PersonneType.nom,{ 'attr': {'class' : 'form-control', 
													'aria-label':'Small',
													'aria-describedby' :'inputGroup-sizing-sm'} })}}
	</div>

	<div class="input-group input-group-sm mb-3">
		<div class="input-group-prepend">
		  <span class="input-group-text" id="inputGroup-sizing-sm">Votre Date de Naissance</span>
		</div>
		{{ form_widget(PersonneType.date_de_naissance,{ 'attr': {'class' : 'form-control', 
																	'aria-label':'Small',
																	'aria-describedby' :'inputGroup-sizing-sm'} })}}
	</div>





		<table class="formulaire form_contact">
			<tr>
				{# <td> {{ form_widget(PersonneType.prenom,{ 'attr': {'placeholder': 'Votre Prénom', 'class':'form-control'} })}} </td> #}
			</tr>
            <tr>
				{# <td> {{ form_widget(PersonneType.nom,{ 'attr': {'placeholder': 'Votre Nom', 'class':'form-control'} })}} </td> #}
			</tr>
			<tr>
				{# <td> {{ form_label(PersonneType.date_de_naissance,'Votre Date de Naissance')}} </td> #}
			</tr>
            <tr>
				{# <td> {{ form_widget(PersonneType.date_de_naissance)}} </td> #}
			</tr>
            <tr>
                <td><input class="btn btn-success" id="submit_btn" type="submit" name="commit" value="Valider"/></td>
            </tr>
		</table>
	{{ form_end(PersonneType) }}	
	</div>	


    <button class="btn btn-primary button_index"><a href="/visualiser"> visualiser </a></button>
</div>

{% endblock %}
